@import "../../../assets/styles/vars.scss";

.createPostForm {
  &__title {
    margin-bottom: 30px;
  }

  .ant-form-item:last-child {
    margin-bottom: 0;
  }
}

.ant-form-item-label {
  font-size: 12px;
  letter-spacing: 0;
  line-height: 13px;
  color: $fontGray;
}