@import "./vars.scss";

body {
  font-family: 'Inter';
}

h1 {
  margin: 0;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 62px;
}

h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 29px;
  color: $fontBlack;
}

.content {
  padding: 64px 0;
  background: $bgLight;
}

@media (max-width: 500px) {
  h1 {
    font-size: 30px;
    line-height: 120%;
  }
}