$accentOrange: #F27623;
$fontBlack: #2B2B2B;
$fontGray: #404040;
$fontLightGray: #868686;
$fontLight: #C5C5C5;

$bgDark: #262626;
$bgLight: #FAFAFA;

//pagination
// $paginationFontActive: #383838;
// $paginationFontBase: #313131;
// $paginationDots: #404040;